<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

      <form action="/user/1" method = "POST">
         <p>first_name <input type = "text" name = "first_name" /></p>
         <p>last_name <input type = "text" name = "last_name" /></p>
         <p>age <input type = "text" name = "age" /></p>
         <p>email <input type = "text" name = "email" /></p>
         <p>role <input type = "text" name = "role" /></p>
         <p>phone <input type = "text" name = "phone" /></p>
         <p><input type = "submit" value = "Submit" /></p>

      </form>
   </body>
</html>
